<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Sr.No.</th>
        <th>Reg.No</th>
        <th>Student Name</th>
        <th>Gender</th>
        <th>Category</th>
        <th>Mobile Number</th>
        <th>Admission Date</th>
        <th>Transport Number</th>
        <th>Transport Fee</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let table of root.list; let i=index">
        <ng-container><td>{{i+1}}</td></ng-container>
        <td><span>{{table.registrationNumber}}</span></td>
        <td><span>{{table.firstName}} {{table.middleName}} {{table.lastName}}</span></td>
        <td><span>{{table.gender}}</span></td>
        <td><span>{{table.category}}</span></td>
        <td *ngIf="table.mobileNumber; else elseStatement"><span>{{table.mobileNumber}}</span></td>
        <ng-template #elseStatement><td><span>Not Available</span></td></ng-template>
        <td *ngIf="table.admissionDate; else elseStatement1"><span>{{table.admissionDate | slice:0:10}}</span></td>
        <ng-template #elseStatement1><td><span>Not Available</span></td></ng-template>
        <td *ngIf="table.transportInfo && table.transportInfo.using=='Yes'; else elseStatement2"><span>{{table.transportInfo.routeNumber}}</span></td>
        <ng-template #elseStatement2><td><span>Not Applicable</span></td></ng-template>
        <td *ngIf="table.transportInfo && table.transportInfo.using=='Yes'; else elseStatement3"><span>200</span></td>
        <ng-template #elseStatement3><td><span>Not Applicable</span></td></ng-template>
      </tr>
      </tbody>
    </table>
  </div>

  
